@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-size: 20px;
  color: #fff;
  font-family: 'Concert One', cursive;
}

.container {
  padding: 0 2% 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.title {
  font-size: 50px;
  letter-spacing: 10px;
}

.subtitle {
  margin-bottom: 30px;
}

.textarea {
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 85%;
  height: 300px;
  resize: none;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
}

.textarea:focus {
  outline: none;
}

.textarea::-webkit-scrollbar {
  width: 8px;
}

.textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 1);
}

.textarea::-webkit-scrollbar-thumb {
  background-color: rgb(250, 250, 250);
  border-radius: 1px;
}

.keyboard {
  width: 100%;
  max-width: 950px;
  display: grid;
  gap: 10px;
  user-select: none;
  padding: 5px;
  background: #ffffff;
  border-radius: 10px;
}

.keyboard__row {
  display: flex;
  gap: 10px;
}

.keyboard__key {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}

.keyboard__key:hover {
  opacity: 0.8;
}

.active {
  background-color: rgba(0, 209, 157, 0.8);
  transform: scale(0.9);
  box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.5);
}

.key-shift {
  align-self: flex-start;
  color:#c5a922;
  transition: .2s;
}

.key-shift.key-shift_active:not(:empty) {
  color: #fff;
}

.key-shift.key-shift_active:not(:empty) ~ .key-title.key-shift_inactive {
  color:#c5a922;
}

[data-fn="true"] {
  flex-grow: 1;
}

[data-fn="true"] > .key-title {
  font-size: 16px;
}

[data-code="Space"] {
  flex-grow: 11;
}

[data-code="ArrowLeft"],
[data-code="ArrowUp"],
[data-code="ArrowDown"],
[data-code="ArrowRight"] {
  flex-grow: 0;
}

[data-code="Enter"] {
  flex-grow: 2;
}

@media (max-width: 1200px) {

  .container {
    width: 100%;
  }

}

@media (max-width: 950px) {

  .keyboard__key {
    font-size: 15px;
    width: 40px;
    height: 40px;
  }

  .keyboard__row {
    display: flex;
    gap: 3px;
  }

}

@media (max-width: 700px) {

  .keyboard__key {
    font-size: 12px;
    width: 35px;
    height: 35px;
  }

  .keyboard__row {
    display: flex;
    gap: 3px;
  }

  [data-fn="true"] > .key-title { 
    font-size: 12px;
  }

}